:root {
  --primary-color:rgba(243, 177, 157, 0.75);
  --secondary-color:#212529;
}
.container {
  background: linear-gradient(
    to bottom,
    rgb(243, 177, 157, 60%),
    rgba(133, 191, 245, 0.6)
  );
  display: block;
  margin: 40px auto 0 auto;
  padding: 30px 20px;
  text-align: center;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #6e6e6e;
  color: var(--secondary-color);
}
.Forecast input {
  border-radius: 5px;
}
.App .gitLink {
color: rgb(105, 153, 197);

}
Form .cityInfo {
  background: #ffffff00;
  border: solid 1px var(--secondary-color);
  margin-right: 8px;
}
Form .searchButton {
  background: #ffffff00;
  border: solid 1px var(--secondary-color);
  transition: all 200ms ease-in-out;
  margin-right: 8px;
}
Form .autoButton {
  background: #ffffff00;
  border: solid 1px var(--secondary-color);
  transition: all 200ms ease-in-out;
}
.Forecast h1 {
  margin: 50px auto;
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

.temperature {
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
}

.currentWeather {
  text-align: left;
}
.unit {
  position: relative;
  top:-25px;
}
.weatherDescri {
  margin: 20px auto;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}
.Forecast .row {
  margin: 0 auto;
}
.Forecast .weatherDetail {
  list-style: none;
}
.WeatherInfo .currentIcon {
  position: relative;
  top:34px;
}
.forecastInfo-temp-min {
  margin-left: 5px;
  opacity:0.6;
}
.opacity60{
  opacity: 0.6;
}
.weekday {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}
Form .searchButton:hover {
  background: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  color: var(--primary-color);
}
Form .autoButton:hover {
  background: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  color: var(--primary-color);
}
footer {
  display: block;
  text-align: center;
  margin: 5px auto 40px auto;
  font-size: 12px;
}
